lib/
bin/
pyvenv.cfg
.vscode/
*.o
*.so
docker/.env
docker/.env.local
src/Makefile
src/config.log
src/config.sub
src/config.guess
src/config.status
src/COPYING
src/autom4te.cache/
src/aclocal.m4
src/compile
src/configure
src/missing
src/Makefile
src/Makefile.in
src/depcomp
src/.deps/*
