lib/
bin/
pyvenv.cfg
.vscode/
json-parser/
json-parser-build/
tests/run_unittests
*.o
*.so
*.a
*.gcda
*.gcno
*.c.gcov
\#*.gcov
.project
.env
docker-sandbox/.env
docker-ssh-demo/.env
docker/.env
rpmbuild
