---
openapi: 3.1.0
info:
  title: PAM-WebLogin
  version: '1.0'
  summary: PAM-WebLogin API
  contact:
    name: SRAM Management
    url: 'https://surf.nl/sram'
    email: sram-beheer@surf.nl
  license:
    name: Apache 2
    identifier: Apache-2.0
  description: |-
    The Pam-WebLogin system is meant for the case in which a server admins want to allow users to log in to their server based on authentication in a web browser.  This can be used in place of or in addition to regular means of terminal-based authentication, such as ssh public keys or username/password.  It can also be used to enable use of advanced multi-factor authentication methods which would otherwise be unavailable or hard to use on terminal-based systems.

    Functionally, the user connects to the system in the regular fashion.  The system than shows a url the the users needs to visit in their web browser; this web site can implement any form of authentication desired.  Once the user is authenticated, their can continue logging in the the terminal by entering the pin code presented by the web site.
tags:
  - name: pam-weblogin
servers:
  - url: 'https://sram.surf.nl/pam-weblogin'
    description: weblogin
components:
  schemas: {}
  securitySchemes:
    bearer_token:
      type: http
      scheme: bearer
      description: Service API key
paths:
  /pam-weblogin/start:
    parameters:
    - name: Authorization
      in: header
      description: PAM Weblogin token
      required: true
      example: Bearer Am4Hp7GBO2lMseskWHRmEtE3DWD
      schema:
        type: string
        description: Service API key
    post:
      description: Initiate a new WebLogin request
      tags:
        - pam-weblogin
      summary: Start new WebLogin request
      operationId: post-start
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  examples:
                    - jan.klaassen@uni-harderwijk.nl
                  description: Identifier of user initiating the authentication process
                attribute:
                  type: string
                  examples:
                    - email
                  description: |-
                    Identifier of an authentication attribute or claim from the WebLogin login
                    When the use logs in to the web interface, this is the name of the attribute or claim that should match the `user_id` that the user uses to login to the pam module (e.g., the ssh username or UNIX login name)
                cache_duration:
                  type: number
                  description: |-
                    Number of seconds to allow previous logins without new authentication.
                    If the user has successfully authenticated within the specified time frame, the response will have `cached` set to `true`.
                  default: 60
                  examples:
                    - 300
                  minimum: 0
                GIT_COMMIT:
                  type: string
                  description: |-
                    PAM Weblogin module GIT commit string, generated as `git describe --abbrev=6 --always`
                  examples:
                    - branch+new-checkpin-api-17-g9b4920
                JSONPARSER_GIT_COMMIT:
                  type: string
                  description: |-
                    PAM Weblogin json-parser module GIT commit string, generated as `git -c json-parser describe --abbrev=6 --always`
                  examples:
                    - 531a49
              required:
                - user_id
      responses:
        '201':
          description: Successful call
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: status of the request; should be "OK"
                    enum:
                      - OK
                  session_id:
                    type: string
                    description: id to refer to this authentication session
                    examples:
                      - ab4f88d1-d795-4dcd-ae9b-ecdd6b15d32a
                  challenge:
                    type: string
                    description: Challenge to show to the user in the terminal
                    examples:
                      - 'Please sign in to: https://sram.surf.nl/weblogin/sshlogin/ab4f88d1-d795-4dcd-ae9b-ecdd6b15d32a [QR Code]'
                  cached:
                    type: boolean
                    description: whether or not the user has already authenticated recently
                required:
                  - result
                  - session_id
                  - challenge
                  - cached
              examples:
                Success:
                  value:
                    result: OK
                    session_id: ab4f88d1-d795-4dcd-ae9b-ecdd6b15d32a
                    challenge: 'Please sign in to: https://sram.surf.nl/weblogin/sshlogin/ab4f88d1-d795-4dcd-ae9b-ecdd6b15d32a [QRcode]'
                    cached: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - true
                    desription: Error status
                  message:
                    type: string
                required:
                  - error
                  - message
              examples:
                Fail:
                  value:
                    error: true
                    message: |-
                      Unauthorized 401: https://sram.surf.nl/pam-weblogin/start. IP: 192.168.1.1, 10.0.0.0. Invalid username or password
  /pam-weblogin/check-pin:
    parameters:
    - name: Authorization
      in: header
      description: PAM Weblogin token
      required: true
      example: Bearer Am4Hp7GBO2lMseskWHRmEtE3DWD
      schema:
        type: string
        description: Service API key
    post:
      description: Verify an entered pin
      tags:
        - pam-weblogin
      summary: Verify an entered pin
      operationId: post-check-pin
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id:
                  type: string
                  examples:
                    - ab4f88d1-d795-4dcd-ae9b-ecdd6b15d32a
                  description: 'Session identifier, as returned by the call to `/start`'
                pin:
                  type: string
                  examples:
                    - '1234'
                  description: Pin as entered on the terminal by the user
              required:
                - session_id
                - pin
      responses:
        '201':
          description: Successful call
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: status of the request; should be "SUCCESS" when the user has succesfully authenticated
                    enum:
                      - SUCCESS
                      - FAIL
                      - TIMEOUT
                  info:
                    type: string
                    description: Debug message to explain what happened.  Not meant to be shown to the end user.
                    examples:
                      - Authenticated on attribute 'email'
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        short_name:
                          type: string
                required:
                  - result
                  - info
                  - groups
              examples:
                Success:
                  value:
                    result: SUCCESS
                    info: User c7c7f2c1ee3a469558cd64942b86fbc4273abfa2@sram.surf.nl has authenticated successfully
                    groups:
                      - name: Example collaboration
                        short_name: example_co
                      - name: HPC CLI demo
                        short_name: hpc_cli_demo
        '202':
          description: Client is unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: status of the request; should be "SUCCESS" when the user has succesfully authenticated
                    enum:
                      - FAIL
                      - TIMEOUT
                      - SUCCESS
                  info:
                    type: string
                    description: Debug message to explain what happened.  Not meant to be shown to the end user.
                required:
                  - result
                  - info
              examples:
                Incorrect pin:
                  value:
                    result: FAIL
                    info: Incorrect pin
  /pam-weblogin/ssh_keys:
    parameters:
    - name: Authorization
      in: header
      description: PAM Weblogin token
      required: true
      example: Bearer Am4Hp7GBO2lMseskWHRmEtE3DWD
      schema:
        type: string
        description: Service API key
    get:
      description: Get all SSH keys for all User who can connect to the PAM Service
      tags:
        - pam-weblogin
      summary: Returns all SSH keys
      operationId: get-ssh_keys
      responses:
        '200':
          description: Successful call
          content:
            application/json:
              schema:
                type: array
                description: List of SSH keys
                items:
                  type: string
                  description: SSH key
              examples:
                Success:
                  value:
                    - ssh-rsa AAAAB3NzaC1yc2EAAA...
                    - ssh-rsa AAAAB3NzaEAAAC1yc2...
        '401':
          description: Client is unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error state
                    enum:
                      - true
                  message:
                    type: string
                    description: Debug message to explain what happened.  Not meant to be shown to the end user.
                required:
                  - error
                  - message
              examples:
                Fail:
                  value:
                    error: true
                    message: |-
                      Unauthorized 401: https://sram.surf.nl/pam-weblogin/ssh_keys. IP: 192.168.1.1, 10.0.0.0
  /pam-weblogin/{service_shortname}/{session_id}:
    parameters:
    - name: Authorization
      in: header
      description: PAM Weblogin token
      required: true
      example: Bearer Am4Hp7GBO2lMseskWHRmEtE3DWD
      schema:
        type: string
        description: Token
    - name: service_shortname
      in: path
      description: Service shortname
      required: true
      schema:
        type: string
    - name: session_id
      in: path
      description: Session ID
      required: true
      schema:
        type: string
    get:
      description: Returns the PAM WebSSO session
      tags:
        - pam-weblogin
      summary: Returns the PAM WebSSO session
      operationId: get-session
      responses:
        '200':
          description: Successful call
          content:
            application/json:
              schema:
                type: object
                description: Object containing service key
                properties:
                  service:
                    type: object
                    description: Service object
              examples:
                Success:
                  value:
                    service:
                      ...: ...
        '404':
          description: Session id not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - true
                    description: Error state
                  message:
                    type: string
                    description: Debug message to explain what happened.  Not meant to be shown to the end user.
              examples:
                Fail:
                  value:
                    error: true
                    message: |-
                      NotFound: https://sram.surf.nl/pam-weblogin/cloud/1. IP: 192.168.1.1, 10.0.0.0. No PamSSOSession with session_id 1 found
